html {
  width: 100%;
  overflow-x: hidden;
}

body {
  padding-bottom: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.875rem;

  background-color: #eee;
}

hr {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  margin-top: 8rem;
  height: 2px;
  width: 100%;
  max-width: 75rem;

  background-color: #eee;
  border: none;
}

.section:first-of-type {
  padding-top: 4rem;
}

.section + .section {
  margin-top: 4rem;
}

.section:last-of-type {
  padding-bottom: 4rem;
}

.sub-section + .sub-section {
  margin-top: 2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
